.contacts-section{
  padding-top: 80px;
  padding-bottom: 79px;
  background-image: url('../img/contacts-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--gray600-color);

  &__form{
    background-color: var(--light-color);
  }

  &__container{
    display: flex;
    justify-content: flex-end;
  }
}

.contacts-form{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 48px 40px;
  max-width: 495px;
  border: 1px solid var(--gray300-color);
  box-shadow:
  0px 60px 80px -20px rgba(30, 33, 44, 0.16),
  0px 26px 24px -10px rgba(30, 33, 44, 0.1),
  0px 12px 10px -6px rgba(30, 33, 44, 0.08),
  0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 4px;

  &__title{
    margin: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: var(--gray900-color);
  }

  &__field{
    margin-bottom: 22px;
  }

  &__checkbox{
    margin-bottom: 23px;
  }

}

