.header{
  padding: 23px 0 21px;

  &--main{
    background-color: var(--light-color);
  }

  &--secondary{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__container{
    @include flex-all-sb;
  }
}
