.page-hero{
  padding: 152px 0 179px;
  max-height: 600px;
  background-color: var(--gray200-color);
  background-repeat: no-repeat;

  &--notmaxheight{
    max-height: none;
  }

  &--main{
    background-image: url('../img/hero-services-bg.jpg');
    background-position: center;
  }

  &--services-inner{
    background-image: url('../img/interior-bg.png');
    background-position: right -28px bottom;
  }

  &--work{
    background-image: url('../img/work-bg.png');
    background-position: right -29px bottom;
  }

  &--work-inner{
    background-color: var(--light-color);
    background-image: url('../img/work-inner-bg.png');
    background-position: top 48px right -28px;
    padding-bottom: 40px;
  }

  &--about{
    background-image: url('../img/about-bg.png');
    background-position: right;
  }

  &__title{
    margin: 0;
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 72px;
    line-height: 130%;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--gray900-color);

    &--small{
      font-size: 64px;
      line-height: 120%;
      text-transform: initial;
    }

    &--mb{
      margin-bottom: 58px;
    }
  }

  &__descr{
    margin: 0;
    font-size: 20px;
    line-height: 150%;
    color: var(--gray700-color);
  }
}
