<section class="related-project">
  <div class="container">
    <div class="related-project__top">
      <h2 class="related-project__title title">Related projects</h2>
      <div class="slider-nav related-project__slider-nav">
        <button class="btn-reset slider-nav__btn slider-btn related-project__prev">
          <svg>
            <use xlink:href="img/sprite.svg#left-arrow"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn slider-btn related-project__next">
          <svg>
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper related-project__items swiper-no-swiping">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#" class="related-project-item">
            <img src="img/related-proj-1.jpg" alt="related-project img" class="related-project-item__img">
            <div class="related-project-item__content">
              <h2 class="related-project-item__title">Kids Bedroom With Decorations</h2>
              <span class="related-project-item__descr">Apartments & flats</span>
              <div class="related-project-item__btn btn btn__regular btn--strok-orange">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="related-project-item">
            <img src="img/related-proj-1.jpg" alt="related-project img" class="related-project-item__img">
            <div class="related-project-item__content">
              <h2 class="related-project-item__title">Kids Bedroom With Decorations</h2>
              <span class="related-project-item__descr">Apartments & flats</span>
              <div class="related-project-item__btn btn btn__regular btn--strok-orange">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="related-project-item">
            <img src="img/related-proj-1.jpg" alt="related-project img" class="related-project-item__img">
            <div class="related-project-item__content">
              <h2 class="related-project-item__title">Kids Bedroom With Decorations</h2>
              <span class="related-project-item__descr">Apartments & flats</span>
              <div class="related-project-item__btn btn btn__regular btn--strok-orange">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="related-project-item">
            <img src="img/related-proj-1.jpg" alt="related-project img" class="related-project-item__img">
            <div class="related-project-item__content">
              <h2 class="related-project-item__title">Kids Bedroom With Decorations</h2>
              <span class="related-project-item__descr">Apartments & flats</span>
              <div class="related-project-item__btn btn btn__regular btn--strok-orange">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="related-project-item">
            <img src="img/related-proj-1.jpg" alt="related-project img" class="related-project-item__img">
            <div class="related-project-item__content">
              <h2 class="related-project-item__title">Kids Bedroom With Decorations</h2>
              <span class="related-project-item__descr">Apartments & flats</span>
              <div class="related-project-item__btn btn btn__regular btn--strok-orange">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="related-project-item">
            <img src="img/related-proj-1.jpg" alt="related-project img" class="related-project-item__img">
            <div class="related-project-item__content">
              <h2 class="related-project-item__title">Kids Bedroom With Decorations</h2>
              <span class="related-project-item__descr">Apartments & flats</span>
              <div class="related-project-item__btn btn btn__regular btn--strok-orange">View Project</div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="related-project__learn learn-more">
      <h4 class="related-project__subtitle learn-more__subtitle">Explore all our works</h4>
      <a href="#" class="btn-reset btn btn__large btn--orange">View portfolio</a>
    </div>
  </div>
</section>
