<section class="services-content services-content--main">
  <div class="container">
    <h2 class="visually-hidden">Services content</h2>
    <ul class="list-reset services-content__list">
      <li class="services-content__item content-item">
        <img src="img/content-item-img1.png" alt="" class="content-item__img">
        <div class="content-item__info">
          <h2 class="content-item__title">Construction</h2>
          <p class="content-item__descr">Sapien, feugiat faucibus orci arcu, vulputate. Tristique varius consectetur vulputate arcu, scelerisque nisi, nibh. Enim semper id&nbsp;sodales ultricies sed ut&nbsp;ut&nbsp;augue. Mattis habitant venenatis, gravida posuere massa ac&nbsp;interdum. Eget aliquam dignissim ut&nbsp;vestibulum.</p>
          <a class="content-item__link btn btn__regular btn--strok-orange">Learn more</a>
        </div>
      </li>
      <li class="services-content__item content-item">
        <img src="img/content-item-img2.png" alt="" class="content-item__img">
        <div class="content-item__info">
          <h2 class="content-item__title">Project Development</h2>
          <p class="content-item__descr">Volutpat tellus mauris sit sit. Posuere ut&nbsp;sit vestibulum amet viverra&nbsp;in. Est nulla lectus purus tincidunt massa tortor. Hendrerit vulputate elementum blandit massa vitae amet felis eget.</p>
          <a class="content-item__link btn btn__regular btn--strok-orange">Learn more</a>
        </div>
      </li>
      <li class="services-content__item content-item">
        <img src="img/content-item-img3.png" alt="" class="content-item__img">
        <div class="content-item__info">
          <h2 class="content-item__title">Interior Design</h2>
          <p class="content-item__descr">Eleifend orci massa et&nbsp;facilisis orci feugiat&nbsp;ac. Congue in&nbsp;ut&nbsp;lacus, turpis accumsan gravida. Aliquet mattis dignissim massa sociis&nbsp;a, id&nbsp;bibendum. Egestas lorem eros, mi&nbsp;cras amet, vel eget molestie. Turpis enim arcu, amet donec massa pellentesque nulla duis. Arcu dictum metus sed purus senectus faucibus eget elementum pretium.</p>
          <a class="content-item__link btn btn__regular btn--strok-orange">Learn more</a>
        </div>
      </li>
      <li class="services-content__item content-item">
        <img src="img/content-item-img4.png" alt="" class="content-item__img">
        <div class="content-item__info">
          <h2 class="content-item__title">Repairs</h2>
          <p class="content-item__descr">Facilisis cursus feugiat sit pulvinar amet. Ac&nbsp;facilisi dictum commodo, tortor gravida pretium, orci. Nunc sit sollicitudin id&nbsp;egestas mattis. Turpis viverra nec urna ultrices urna.</p>
          <a class="content-item__link btn btn__regular btn--strok-orange">Learn more</a>
        </div>
      </li>
    </ul>
  </div>
</section>
